<h1>Listing tag_assignments</h1>

<table>
  <thead>
    <tr>
      <th>Evidence</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_assignments.each do |tag_assignment| %>
      <tr>
        <td><%= tag_assignment.evidence_id %></td>
        <td><%= tag_assignment.tag_id %></td>
        <td><%= link_to 'Show', tag_assignment %></td>
        <td><%= link_to 'Edit', edit_tag_assignment_path(tag_assignment) %></td>
        <td><%= link_to 'Destroy', tag_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag assignment', new_tag_assignment_path %>
